@media screen and (min-width: 768px) {

    .navigation {
        flex-direction: row;
        justify-content: center;
    }

    .region-cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .form-section {
        max-width: 700px;
        margin: 0 auto;
    }
}