* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.hero {
    width: auto;
}


.hero img {
    width: auto;
    height: auto;
    object-fit: cover;
}