* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #222;
}


header {
    background-color: #1d3557;
    color: white;
    padding: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#menu {
    display: block;
    font-size: 2rem;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "✖";
}

.navigation {
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    position: absolute;
}

.navigation a {
    display: none;
    color: white;
    text-decoration: none;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
}

.navigation a:hover {
    background-color: #457b9d;
    color: #fff;
}

.open a {
    display: block;
}


main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

main h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}


.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    justify-items: center;
}


figure {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding-bottom: 1rem;

    width: 100%;
    max-width: 350px;
}


figure img {
    width: 350px;
    height: 250px;
    object-fit: cover;
    display: block;
}


figcaption {
    padding-top: 1rem;
    font-weight: bold;
}


footer {
    background-color: #1d3557;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

footer p {
    margin: 0.5rem;
}